body{
    font-family: cursive;
    font-size: small;
    font-size: medium;
    background-color: #8ee1ff95;
    color: #3f789c;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/04/18/14/ice-2817112_1280.jpg) 
}

form{
    background-color: #85bad477;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    margin:auto;
    box-shadow: 0 0 10px #0894ff94;
}

label{
    font-weight: bold;
    margin: 10px 0 5px 0;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="date"],
select,
textarea{
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0d638e;
    font-size: medium;
    width: calc(100% - 25px);
    display: block;
}

input[type="color"]{
    border: white;
    width: calc(90% - 260px);
    border-radius: 4px;
    display: block;

}


input[type="range"]{
    width: calc(100% - 25px);
    margin-bottom: 10px;
    accent-color: #1f7aa7;

}


input[type="checkbox"]{
    margin-right: 5px;
    accent-color: #1f7aa7;
}
input[type="file"],
input[type="radio"]{
    margin-top: 10px;
    accent-color: #1f7aa7;
}

input[type="radio"]{
    align-items: last baseline;
}


button{
    width: 70px;
    padding: 10px;
    background-color: #6ea5c1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #0b58a0;
}

.small-input {
    width: auto;
    display: inline-block;
}

.inline-label {
    display: inline-block;
    margin-right: 10px;
}

hr{
  border-color: #30a8e493;
}

